.container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 21.5rem;
  height: 10.5rem;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.subtitle {
  margin-bottom: 1.5rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 7.25rem;
}
