.filter {
  height: 40px;
  width: 22.5rem;
  border-radius: 8px;
  border: 1px solid #e1e3e6;
  margin-bottom: 1rem;
  text-indent: 1rem;
  color: #999fa6;

  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}

.label {
  font-size: 0.875rem;
  margin-bottom: 5px;
}

.optgroup {
  display: block;
  padding: 8px 16px;
  width: 110%;
  height: 1.5rem;
  cursor: pointer;
}
