.header {
  display: flex;
  justify-content: space-between;
  background-color: #333333;
  padding: 1.5rem 2rem;
  font-weight: 700;
  font-size: 2rem;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;

}

.header a {
  color: #fff;
  text-decoration: none;
}

.basket {
  display: flex;
  margin-left: 0.5rem;
}
